<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/order-style.css' %}" />

    <title>Document</title>
</head>
<body>
    <section id="form">
        <section class="wrapper">
            <div>
                <form action="/action_page.php">
                <label for="name">Full Name</label>
                <input type="text" id="name" name="name" placeholder="Enter your name">
                
                <label for="name">Category</label>
                <select id="category" name="category">
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="tea-and-snacks">Tea and snacks</option>
                    <option value="dinner">Dinner</option>
                </select>
            
                <label for="number">Quantity</label>
                <input type="number" id="number" name="number" placeholder="">
                
                <label for="name">Location</label>
                <input type="place" id="place" name="location" placeholder="Enter your full address">
            
                
                <input type="submit" value="Submit">
                </form>
            </div>
        </section>
    </section>
</body>
</html>



